<% content_for :title do %>
About Dave Hobrecht
<% end %>
<h1>Bio</h1>
<p>Dave Hobrecht is a sports enthusiast whose life was changed at age 13 when he was hit by a car. Upon waking up in a hospital bed two weeks later, Dave learned he would no longer have an opportunity to fulfill his dreams as an athlete. With both legs shattered and his goals of athletic success eliminated, he chose instead to refocus his efforts toward documenting sport through art.</p>
<p>Over the next 18 months, Dave would learn that his breaks from physical therapy would empower him to create a new canvas on life for himself. He found himself sketching image after image from his favorite sports magazines, newspapers and books. Ultimately, after coming home to his family and friends, it became apparent that this young artist had found a new way to participate in the sports he loved so much growing up.</p>
<p>Since graduating from the Business School at the University of Southern California, Dave has developed an artistic style that is unique, with no true comparison. He has created an application method and medium that give his black and white pieces a level of detail, movement and realism that are unparalleled in the world of sports art.
Dave’s classic black and white paintings give his images a sense of timelessness…a brief moment of sporting achievement captured forever in paper, charcoal and pastel. His angles and composition allow the viewer to experience that moment and relive the exhilaration with each glance.</p>
<p>Even more satisfying, this Laguna Beach, CA, artist is proud to have overcome his prognosis of never being able to walk again by spending his spare time at the beach with his three children Hannah, Dane and Breea and his wife Carly.</p>
